name: CI
on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5.0.0
      - run: cargo --color always check
      - run: cargo --color always test

  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5.0.0
      - run: cargo fmt -- --color always --check
      - run: cargo --color always clippy
